@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=DM+Serif+Text:ital@0;1&family=Galada&family=Lexend:wght@100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.cloudsOne {
  position: absolute;
  margin-top: 50px;
  margin-left: 320px;
  height: 200px;
  width: 350px;
}

.cloudsTwo {
  position: absolute;
  margin-top: 50px;
  margin-left: -670px;
  height: 200px;
  width: 350px;
}

.plane {
  position: absolute;
  width: 200px;
  margin-left: -600px;
  margin-top: 130px;
}

.car {
  position: absolute;
  width: 150px;
  margin-top: 600px;
  margin-left: 400px;
}

.logo {
  color: #f37742;
  font-size: 150px;
  font-family: "Galada", cursive;
  text-shadow: #1a1a1a 2px 2px;
}

.subtitle {
  margin-top: -135px;
  color: #1a1a1a;
  font-size: 25px;
}

strong {
  font-family: "Galada", cursive;
}

strong:hover {
  text-shadow: 0 0 10px #ffffff;
  transition: 0.2s ease;
}

@media only screen and (max-width: 760px) {

.logo {
  font-size: 100px;
}

.subtitle {
  margin-top: -90px;
  font-size: 20px;
}

.cloudsOne {
  margin-top: -130px;
  margin-left: -120px;
}

.cloudsTwo {
  margin-top: -150px;
  margin-left: -250px;
}

.car {
  position: absolute;
  width: 150px;
  margin-top: 600px;
  margin-left: 90px;
}
  
}

@media only screen and (max-width: 430px) {

  body {
    margin-top: 7em;
  }

}
